.settings
.DS_Store
*/target
*/.settings
*/.classpath
web/src/main/webapp/template.html
web/bower*
web/bootstrap.less
web/src/main/webapp/public/bower/components/*
web/.project
workers/.project
common/.project
/documenter.iml
.idea/
common/common.iml
documenter.iml
web/web.iml
workers/workers.iml
